<h1>Listing Friends</h1>

<ul>
  {{#each friend in model}}
    <li>
      {{#link-to 'friends.show' friend}}
        {{friend.firstName}} {{friend.lastName}}
      {{/link-to}}
    </li>
  {{/each}}
</ul>
